.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

/* Style the register form */
.register-form {
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; /* Limit the width of the form */
  box-sizing: border-box;
}

/* Style form headers */
.register-form h2 {
  margin-bottom: 20px;
  color: #333; /* Dark color for text */
  font-size: 28px;
  text-align: center;
}

/* Style form inputs */
.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px; /* Ensures consistent font size */
}

/* Style form buttons */
.register-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff; /* Bootstrap primary color */
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.register-form button:hover {
  background-color: #0056b3; /* Darker shade of the button color */
}

/* Style error message */
.register-form .error-message {
  color: #e74c3c; /* Red color for error messages */
  text-align: center;
  margin-bottom: 15px; /* Adds spacing after error message */
}

/* Style for success message */
.register-form .success-message {
  color: #2ecc71; /* Green color for success messages */
  text-align: center;
  font-size: 16px;
  margin-bottom: 15px; /* Adds spacing after success message */
}
